<figure>

  <blockquote class="blockquote">

    <span class="lead">

      <small>

        Here’s to the crazy ones, the misfits, the rebels, the troublemakers, the round pegs in the square holes…

        The ones who see things differently — they’re not fond of rules… You can quote them, disagree with them, glorify or vilify them, but the only thing you can’t do is ignore them because they change things…

        They push the human race forward, and while some may see them as the crazy ones, we see genius, because the ones who are crazy enough to think that they can change the world, are the ones who do.

      </small>

    </span>

  </blockquote>

  <figcaption class="blockquote-footer my-4">

    Someone famous in <cite title="Source Title">Steve Jobs</cite>

  </figcaption>

</figure>
