<a class="designed-by-footer display-6" href="https://www.linkedin.com/in/jjustinperez/" target="_blank">

  <span class="logo"></span>

  Designed by J in California.

  <!-- Assembled in USA. -->

</a>
