<!doctype html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

  <main>
    <div class="container-fluid">

      <div class="row">

        <div class="py-4 text-center">

          <a href="https://github.com/jaayperez" target="_blank">

            <img class="border border-2 rounded-circle shadow d-block mx-auto mb-4" src="/icons/jp-diamond-pixelme-nft.png" alt="Designed by JP or Justin Perez in Los Angeles, California." width="82" height="77">

          </a>

          <!-- <h1>Hello, world!</h1> -->

          <h1 class="display-5 fw-bold">Hello, world! I'm J</h1>

          <p>

            🌐 Developer

              <br class="d-block d-sm-none" />

              <!-- <span class="divider"> 1. </span> -->

            🤩 Superstar

              <br class="m-1 d-block d-sm-none" />

              <!-- <span class="divider"> 2. </span> -->

            🌎 Innovator

          </p>

          <div class="col-lg-6 p-4 mx-auto">

            <figure>

              <blockquote class="blockquote">

                <span class="lead">

                  <small>

                    Here’s to the crazy ones, the misfits, the rebels, the troublemakers, the round pegs in the square holes…

                    The ones who see things differently — they’re not fond of rules… You can quote them, disagree with them, glorify or vilify them, but the only thing you can’t do is ignore them because they change things…

                    They push the human race forward, and while some may see them as the crazy ones, we see genius, because the ones who are crazy enough to think that they can change the world, are the ones who do.

                  </small>

                </span>

              </blockquote>

              <figcaption class="blockquote-footer my-4">

                Someone famous in <cite title="Source Title">Steve Jobs</cite>

              </figcaption>

            </figure>

                <!-- <p class="lead mb-4">

                  Quickly design and customize responsive mobile-first sites with Bootstrap,

                    the world’s most popular front-end open source toolkit,

                      featuring Sass variables and mixins,

                        responsive grid system,

                      extensive prebuilt components,

                  and powerful JavaScript plugins.

                </p> -->

          </div>

        </div>

      </div>

    </div>

    <a class="designed-by-footer display-6" href="https://github.com/jaayperez" target="_blank">

      <span class="logo"></span>

      Designed by J in California.

      <!-- Assembled in USA. -->

    </a>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
